
@using PointNet.Web.ViewModels.Catalog
@model ProductViewModel
@{
    ViewData["Title"] = "ProductDetails";
}
@{
    <head>

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    @{
                        if (Model.ImageUrl == null)
                        {
                            <img class="img-thumbnail" src="~/uploads/@Model.ImageName" />
                        }
                        else
                        {
                            <img class="img-thumbnail" src="@Model.ImageUrl" />
                        }
                    }
                </div>

                <div class="col-md-6 mb-4">
                    <div class="p-4">
                        <p class="lead">
                            <h4>$@Model.Price</h4>
                        </p>

                        <p class="lead font-weight-bold">Description</p>

                        <p>
                            @Html.Raw(@Model.Description)
                        </p>

                        <form asp-controller="ShoppingCart" asp-action="AddNewProduct" class="d-flex justify-content-left">
                            <input asp-for="Quantity" type="number" value="1" onchange="isQuantityAvailable(@Model.Quantity);" id="inputQuantity" aria-label="Search" class="form-control" style="width: 100px">
                            @if (User.Identity.IsAuthenticated)
                            {

                                <button asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-primary btn-sm my-0 p" type="submit">
                                    Add to cart
                                </button>
                            }
                            else //If user is not logged redirects to login page
                            {
                                <button asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-sm my-0 p" type="submit">
                                    Add to cart
                                </button>
                            }
                        </form>
                        <div>
                            <p>Available Quantity: @Model.Quantity</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}

<div class="popup" id="popup" style="display:none;">
    <div class="popup-inner">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Maximum Quantity Exceeded</h5>
                    <button type="button" class="close" onclick="popupClose();" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Maximum Available Quantity is: @Model.Quantity
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="popupClose();" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<h3>Comments</h3>

<partial name="_CommentsPartial" />


<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

@if (User.Identity.IsAuthenticated)
{

    <form asp-controller="Products" asp-action="AddComment" asp-route-productId="@Model.Id" method="post">
        <div>
            <textarea asp-for="CommentToAdd" class="form-control" placeholder="Description"></textarea>
            <span asp-validation-for="CommentToAdd" class="text-danger"></span>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-secondary" />
        </div>
    </form>

}




<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link href="~/css/popup.css" type="text/css" rel="stylesheet" />
