
@using PointNet.Web.ViewModels.Catalog
@using ReflectionIT.Mvc.Paging
@using PointNet.Data.Models
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager

@model PaginatedList<ProductViewModel>
@{
    ViewData["Title"] = "ProductsPagePartial";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/productsViewPage.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</head>

@{
    int currectCategoryId = 0;

    if (Model.Any())
    {
        currectCategoryId = Model[0].CategoryId;
    }
}


<body>
    <div class="container">
        <div class="row">
            @{
                if (Model.Any())
                {
                    foreach (var product in Model)
                    {
                        <div class="col-md-4 product-grid">
                            <div class="image text-center">
                                <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@product.Id">
                                    <img src="@product.ImageUrl" class="img-fluid">
                                    <div class="overlay">
                                        <div class="detail">View Details</div>
                                    </div>
                                </a>
                            </div>
                            <h5 class="text-center">@product.Title</h5>
                            <h5 class="text-center">Price: $@product.Price</h5>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@product.Id" asp-route-quantity="1" class="btn buy">Add To Cart</a>
                            }
                            else
                            {
                                <a asp-area="Identity" asp-page="/Account/Login" class="btn buy">Add To Cart</a>
                            }
                        </div>
                    }
                }
            }
        </div>
    </div>


    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-categoryId="@currectCategoryId"
               class="btn btn-default @prevDisabled">
                Previous
            </a>

            <a asp-controller="Products" asp-action="Index"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-categoryId="@currectCategoryId"
               class="btn btn-default enabled @nextDisabled">
                Next
            </a>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/productsPage.js" asp-append-version="true"></script>
    <link href="~/css/popup.css" type="text/css" rel="stylesheet" />
</body>
