
@using PointNet.Web.ViewModels.ShoppingCart
@model ShoppingCartViewModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>ShoppingCart</h1>

@{
    if (Model != null)
    {
        foreach (var item in Model.ShoppingCartItems)
        {
            <li>@item.Title</li>
        }
    }
    else
    {
        <h1>Your Shopping Cart is Empty!</h1>
    }

}


<link href="~/css/shoppingCart.css" rel="stylesheet" type="text/css" />

<div class="cart_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title">Shopping Cart</div>
                    <div class="cart_items">
                        <ul class="cart_list">
                            @{
                                if (Model != null)
                                {
                                    foreach (var item in Model.ShoppingCartItems)
                                    {
                                        <li class="cart_item clearfix">
                                            <div class="cart_item_image text-center"><img src="@item.ImageUrl" alt=""></div>
                                            <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                                <div class="cart_item_name cart_info_col">
                                                    <div class="cart_item_title">Name</div>
                                                    <div class="cart_item_text">@item.Title</div>
                                                </div>
                                                <div class="cart_item_quantity cart_info_col">
                                                    <div class="cart_item_title">Quantity</div>
                                                    <div class="cart_item_text">@item.Amount</div>
                                                </div>
                                                <div class="cart_item_price cart_info_col">
                                                    <div class="cart_item_title">Price</div>
                                                    <div class="cart_item_text">$@item.Price</div>
                                                </div>
                                                <div class="cart_item_total cart_info_col">
                                                    <div class="cart_item_title">Total</div>
                                                    <div class="cart_item_text">TODO:</div>
                                                </div>
                                                <div class="cart_item_total cart_info_col">
                                                    <div class="container"></div>
                                                    <div class="row">
                                                        <div class="col text-center">
                                                            <button class="btn btn-default">Remove</button>
                                                            <a class="btn-primary" asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@item.Id">Remove</a>
                                                        </div>
                                                    </div>
                                            </div>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <h1>Your Shopping Cart is Empty!</h1>
                                }

                            }
                        </ul>
                    </div>
                    <div class="order_total">
                        <div class="order_total_content text-md-right">
                            <div class="order_total_title">Order Total:</div>
                            <div class="order_total_amount">₹22000</div>
                        </div>
                    </div>
                    <div class="cart_buttons"> <button type="button" class="button cart_button_clear">Continue Shopping</button> <button type="button" class="button cart_button_checkout">Add to Cart</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>